@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Вертикальное отображение на мобильных */
    }

    h1 {
        font-size: 32px; /* Меньший размер шрифта для заголовка */
    }

    .main_text p {
        font-size: 16px; /* Меньший размер шрифта для основного текста */
    }

    .about_img img, .main_img img .carousel-item {
        height: auto; /* Изображения адаптируются к экрану */
        max-width: 100%; /* Максимальная ширина изображения 100% от контейнера */
    }

    .work_div img {
        height: 80px; /* Меньший размер иконок */
        width: 80px;
    }

    .btn {
        padding: 10px 20px; /* Меньшие кнопки на маленьких экранах */
        margin: 10px;
        font-size: 14px;
    }
}

/* Для планшетов */
@media (min-width: 768px) and (max-width: 992px) {
    /* Пусть оставим те же правила как для мобильных, если нужно */
}
